.dashboard {
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(2, 10, 18, 0.95)
        ),
        url("https://i.insider.com/565b1cf6dd08955b3f8b4594?width=960&format=jpeg");

    background-size: cover;
    background-position: center;
}

.dashboard h1 {
    font-size: 65px;
    letter-spacing: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    background: #0d1823;
    border: 1px solid #1b3448;
    border-radius: 8px;

    text-decoration: none;
    color: white;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #4aa3df;
    box-shadow: 0 0 20px rgba(74, 163, 223, 0.2);
}

.card h3 {
    color: #4aa3df;
    letter-spacing: 2px;
}

.card p {
    color: #8195a5;
}
